{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}UPLOAD{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Select file(s) to upload</h2>
<p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</p>
<form method="post" enctype="multipart/form-data">
    <dl id="users_holder" name="userid[]">
        <dt>
            <input type="file" name="files[]" multiple="false" autocomplete="off" required>
            <textarea name="textlist" id="textlist" rows="1" cols="40"></textarea>
        </dt>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>


</form>
{% endblock %}